@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <ThemeProvider Theme="_theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                    <NotAuthorized>
                        <p>Sorry dude, but you're not authorized!</p>
                    </NotAuthorized>
                </AuthorizeRouteView>
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </ThemeProvider>
</CascadingAuthenticationState>

@code {
    private Theme _theme = new()
    {
        BarOptions = new ThemeBarOptions
        {
            LightColors = new ThemeBarColorOptions
            {
                BackgroundColor = "#3498db",
                Color = "#ecf0f1",
                BrandColorOptions = new ThemeBarBrandColorOptions
                {
                    BackgroundColor = "#3498db",
                },
            },
            DarkColors = new ThemeBarColorOptions
            {
                BackgroundColor = "#34495e",
                Color = "#ecf0f1",
                BrandColorOptions = new ThemeBarBrandColorOptions
                {
                    BackgroundColor = "#34495e",
                },
            }
        },
        SidebarOptions = new ThemeSidebarOptions
        {
            BackgroundColor = "#2980b9",
            Color = "#bdc3c7",
        },
        BackgroundOptions = new ThemeBackgroundOptions
        {
            Primary = "#2980b9",
            Secondary = "#34495e",
            Danger = "#ff7979",
            Dark = "#30336b",
            Light = "#30336b",
            Success = "#badc58",
        },
    };
}
